<div class="container-fluid">
  <div class="row">
    <nav class="col bg-dark text-white">
      <div class="navbar-brand">WorkOrders</div>
    </nav>
  </div>

  <div class="form-outline">
    <input type="search"
           [(ngModel)]="searchQuery"
           class="form-control mt-3"
           placeholder="Type query"
           aria-label="Search"/>
  </div>

  <section class="row">
    <div class="col p-2">

      <div *ngFor="let order of orders" class="card m-2 bg-light">
        <div class="card-header">
          <h5>
            {{ order.description }}
            <span [ngClass]="getBadgeStatusClasses(order)">{{ order.status }}</span>
          </h5>
        </div>
        <div class="card-body">
          <p class="fw-semibold">Priority:
            <span [ngClass]="getBadgePriorityClasses(order)">
              {{order.priority}}
            </span>
          </p>
          <span class="fw-semibold">Assigned to:</span>
          <ul class="list-group">
            <li *ngFor="let person of order.assigned_to" class="list-group-item">
              {{ person.person_name }} - {{ person.status }}
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <h6 class="card-title">
            ID: {{ order.work_order_id }}
            <span class="float-end">
              {{order.received_date | date:"HH:m d.M.y"}}
            </span>
          </h6>
        </div>

      </div>
    </div>
  </section>
</div>
